<div>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in" translate="HEADER.PRE_TITLE">Welcome!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
            </div>
        </div>
    </header>
    <!-- Team Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <!--<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" translate="ABOUT.TITLE">Qui suis je ?</h2>
                    <h3 class="section-subheading text-muted" translate="ABOUT.SUBTITLE">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="team-member">
                        <img src="img/IMG_1193.d.jpg" class="img-responsive img-circle" alt="">
                        <h2>Jérémie Gambin</h2>
                        <p class="text-muted" translate="ABOUT.KEYWORDS" style="font-size: 18px;"></p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://twitter.com/jeregambin" target="_blank" alt="twitter" title="twitter"><i class="socicon socicon-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://fr.linkedin.com/in/jeremiegambin" target="_blank" alt="linkedin" title="linkedin"><i class="socicon socicon-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="http://www.viadeo.com/fr/profile/jeremie.gambin" target="_blank" alt="Viadeo" title="Viadeo"><i class="socicon socicon-viadeo"></i></a>
                            </li>
                            <li>
                                <a href="http://stackoverflow.com/users/2988788/jbigman" target="_blank" alt="Viadeo" title="stackoverflow"><i class="socicon socicon-stackoverflow"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/jbigman" target="_blank" alt="Viadeo" title="github"><i class="socicon socicon-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted" translate="ABOUT.DESC">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>-->
        </div>
    </section>
    <!-- About Section -->
    <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" translate="EDUCATION.TITLE">Education</h2>
                    <h3 class="section-subheading text-muted" translate="EDUCATION.SUBTITLE"> <small>Proverbe japonais</small> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image text-center">
                                <h1>
                                    <span class="glyphicon glyphicon-education fa-2x hidden-xs"></span>
                                    <br class="hidden-xs" />+ 5
                                </h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 translate="EDUCATION.5.TITLE"></h4>
                                    <h4 class="subheading" translate="EDUCATION.5.SUBTITLE"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" translate="EDUCATION.5.BODY"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/postitman.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 translate="EDUCATION.APPRENTICE.TITLE"></h4>
                                    <h4 class="subheading" translate="EDUCATION.APPRENTICE.SUBTITLE"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" translate="EDUCATION.APPRENTICE.BODY"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <h1>
                                    <span class="glyphicon glyphicon-education fa-2x hidden-xs"></span>
                                    <br class="hidden-xs" />+ 3
                                </h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 translate="EDUCATION.3.TITLE"></h4>
                                    <h4 class="subheading" translate="EDUCATION.3.SUBTITLE"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" translate="EDUCATION.3.BODY"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <span class="glyphicon glyphicon-education fa-4x"></span>
                                </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 translate="EDUCATION.0.TITLE"></h4>
                                    <h4 class="subheading" translate="EDUCATION.0.SUBTITLE"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" translate="EDUCATION.0.BODY"></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Project Grid Section -->
    <section id="projects" class="portfolio" style=" background-image: url(../img/wall/giphy2.gif); background-size: cover;">
        <div class="container">
            <!--<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" translate="PROJECTS.TITLE"></h2>
                </div>
            </div>
            <br />-->
            <div ng-repeat="exp in experiences">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-muted"><span class="yellow" translate="{{exp.company.name}}"></span> <small translate="{{exp.company.subTitle}}"></small></h2>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 col-sm-6 portfolio-item" ng-repeat="project in exp.company.projects | orderBy:'-position'" ng-style="{'height': data.height}">
                        <a class="portfolio-link" data-toggle="modal" data-target="#project{{$parent.$index}}{{$index}}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                    <h4 translate="{{project.subTitle}}"></h4>
                                    <p translate="{{project.name}}"></p>
                                </div>
                            </div>
                            <img ng-src="{{project.photo}}" class="img-responsive" style="margin: 0 auto; border-radius: 20px;" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Skills Grid Section -->
    <section id="skills" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" translate="MENU.SKILLS"></h2>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 " ng-repeat-start="(key, value) in skills | groupBy : 'type'">
                    <h3 class="text-center" translate="SKILLS.{{ key }}"></h3>
                    <div ng-repeat="skill in value| orderBy : ['-level', 'name'] ">
                        <div class="row">
                            <h4 class="col-md-6 col-xs-6 text-right" style="font-size: 21px;">
                                <span class="label label-{{skill.color}}" style="display:inline-block;">{{skill.name}}</span>
                            </h4>
                            <h4 class="col-md-6" style="font-size: 21px;">
                                <rating ng-model="skill.level" max="4" readonly="true"
                                        on-hover="hoveringOver(value)"
                                        on-leave="overStar = null"
                                        state-on="'dark-yellow glyphicon-star'"
                                        state-off="'star-empty-color glyphicon-star'">
                                </rating>
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- Force create new line if we have already reach col-12. (if not, we could met strange alignments) -->
                <div ng-repeat-end>
                    <div ng-if="($index+1)%4 === 0 && !$first" class="clearfix visible-lg"></div>
                    <div ng-if="($index+1)%3 === 0 && !$first" class="clearfix visible-md"></div>
                    <div ng-if="$odd" class="clearfix visible-sm"></div>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Jérémie Gambin 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">

                        <li>
                            <a href="https://twitter.com/jeregambin" target="_blank" alt="twitter" title="twitter"><i class="socicon socicon-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://fr.linkedin.com/in/jeremiegambin" target="_blank" alt="linkedin" title="linkedin"><i class="socicon socicon-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="http://www.viadeo.com/fr/profile/jeremie.gambin" target="_blank" alt="Viadeo" title="Viadeo"><i class="socicon socicon-viadeo"></i></a>
                        </li>
                        <li>
                            <a href="http://stackoverflow.com/users/2988788/jbigman" target="_blank" alt="Viadeo" title="stackoverflow"><i class="socicon socicon-stackoverflow"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/jbigman" target="_blank" alt="Viadeo" title="github"><i class="socicon socicon-github"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a class="page-scroll" href="#wrap"><span class="glyphicon glyphicon-menu-up"></span><!--Privacy Policy--></a>
                        </li>
                        <li>
                            <a href="#"><!--Terms of Use--></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Large modal -->
    <!-- Project Modals -->
    <div ng-repeat="exp in experiences">
        <div class="portfolio-modal modal fade bs-example-modal-lg" ng-repeat="project in exp.company.projects | orderBy:'-position'" id="project{{$parent.$index}}{{$index}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="background-color: #222; color: #bbb;">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        <img ng-src="{{project.photo}}" class="img-responsive" alt="" style="margin-left: auto;margin-right: auto; ">
                        <div class="portfolio-caption">
                            <h4 translate="{{project.subTitle}}"></h4>
                            <p translate="{{project.name}}"></p>
                        </div>
                        <p ng-repeat="desc in project.desc" class="text-left">
                            <span translate="{{desc.p}}"></span>
                        </p>
                        <h4 style="margin-bottom:2em;">{{ "PROJECTS.CONTRIB" | translate}} <small>{{ "PROJECTS.CONTRIB_AS" | translate}} <span translate="{{project.mission.title}}"></span></small></h4>
                        <p ng-repeat="desc in project.mission.description" class="text-left">
                            <span translate="{{desc.p}}"></span>
                        </p>
                        <h4>
                            <span ng-repeat="skill in project.mission.skills" class="label label-{{skill.color}}" style="display:inline-block; margin-right:.5em; margin-top:.5em;">{{skill.name}}</span>
                        </h4>
                        <p class="text-left">
                            <span>{{ "PROJECTS.LINKS" | translate}}</span>
                            <span ng-repeat="link in project.links">
                                <a href="{{link.href}}" target="_blank"><span translate="{{link.title}}"></span></a><span ng-hide="$last"> / </span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
